.App {
  text-transform: uppercase;
  background-color: #20639b;
  min-height: 100vh;
}

.weather-container {
  width: 700px;
  margin: 0 auto;
  color: #fff;
}

.info-container > * {
  display: block;
}
